@import url('https://fonts.googleapis.com');
body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 100px;
  font-weight: 400;
  font-family: inter;
  font-size: small;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;  
  margin-left: 150px;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-group a {
  text-decoration: none;
}


.nav-group button {
  background-color: #4CAF4F;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 66px 100px;
  gap: 372px;
  background-color: #F5F7FA;
}

.hero-content {
  display: flex;
  flex-direction: column;
  font-family: inter;
  gap: 20px;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 600;
  color: #263238;
  margin: 0;
}
.hero-content h1 span {
  color: #4CAF4F;
}

.hero-content p {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #717171;
  margin: 0;
}

.hero-content button {
  background-color: #4CAF4F;
  color: white;
  max-width: 100px;
  border-radius: 3px;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
}

.clients {
  padding: 80px 100px;
  text-align: center;
}

