@import url('https://fonts.googleapis.com');
body {
  margin: 0;
  border: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 100px;
  font-weight: 400;
  font-family: inter;
  font-size: small;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;  
  margin-left: 150px;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-group a {
  text-decoration: none;
}


.nav-group button {
  background-color: #4CAF4F;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  padding: 66px 50px;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: #F5F7FA;
}

.hero-content {
  display: flex;
  flex-direction: column;
  font-family: inter;
  gap: 20px;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 600;
  color: #263238;
  margin: 0;
}
.hero-content h1 span {
  color: #4CAF4F;
}

.hero-content p {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #717171;
  margin: 0;
}

.hero-content button {
  background-color: #4CAF4F;
  color: white;
  max-width: 100px;
  border-radius: 3px;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
}

.clients {
  margin-top: -80px;
  padding: 100px 100px;
  text-align: center;
  gap: 11px;
  font-family: inter;
}

.clients-header h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.clients-header p {
  font-weight: 400;
  font-size: 15px;
  color: #717171;
  margin-bottom: 50px;
}

.clients-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.community {
  margin-top: -50px;
  gap: 5px;
  text-align: center;
  width: 100%;
}

.community-header h3 {
  font-family: inter;
  font-size: 25px;
  margin-bottom: 2px;
}

.community-header p {
  font-family: inter;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.community-notes {
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
}

.membership-organisation {
  padding: 16px 22px;
  background-color: #FFFFFF;
  width: 208px;
  height: 182px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px #ABBED133;
}

.membership-organisation h3 {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.membership-organisation p {
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
}

.national-associations {
  padding: 16px 22px;
  background-color: #FFFFFF;
  width: 208px;
  height: 182px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px #ABBED133;
}

.national-associations h3 {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.national-associations p {
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
}

.clubs-groups {
  padding: 16px 22px;
  background-color: #FFFFFF;
  width: 208px;
  height: 182px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px #ABBED133;
}

.clubs-groups h3 {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.clubs-groups p {
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
}


